antiorm==1.2.1
click==8.0.3
colorama==0.4.4
ephem==4.1
Flask==2.0.2
Flask-Cors==3.0.10
itsdangerous==2.0.1
Jinja2==3.0.2
mariadb==1.0.7
MarkupSafe==2.0.1
numpy==1.21.2
scipy==1.7.1
six==1.16.0
weathergen==0.1.1
Werkzeug==2.0.2
bjoern==3.1.0
